//google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Font Variables  
$open-sans: 'Open Sans', sans-serif;

//define colors
$black: #000000;
$white: #ffffff;

$primary-font-color: $black;
$primary-font-style: $open-sans;
