//parital files
@import 'cvariables';
@import 'cmixins';

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
$maingreen-color: #007C63;
$menuactive-color:#FF6584;
$footer-color:#102E41;
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a{
    color: $maingreen-color;
    
    &:hover{
        text-decoration: none;
    }
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-link:focus, .btn-link:hover{
    text-decoration: none;
}
body {
  font: 100% $primary-font-style;
  color: $primary-font-color;
  font-size: 13px;
}

.header-title {  
       font-size: 2rem;  
     
      @include media-breakpoint-up(sm) {
          font-size: 1rem; 
       }  
    }
    
.topmenu-navbar{
    padding: 8px 0;
    background-color: #fff;
    z-index: 9999;
    position: relative;
}

    .logonav
     img{
         max-width: 100px;
        
        //  @include media-breakpoint-up(md) {
        //     width: 100px;
        //  }   
         @include media-breakpoint-up(lg) {
            max-width: 100%;
         } 
       
    }
    .navbar-nav{
        
         .nav-link{
             color: $maingreen-color!important;
             font-size: 1.2em;
         }
         .nav-link.active{
             color: $menuactive-color!important;
         }
         
    }
    // .navbar-collapse{
    //     position: absolute;
    //     @include media-breakpoint-up(sm) {
    //         position: static;
    //      } 
          
    // }
    .top-search{
        font-size: 16px;
    }
// Footer Animation
   .quick-nav .nav-list {
            list-style: none;
            padding: 0;  
    li{
        padding: 5px 0;
        // display: inline-block;
        position: relative;
        color: #0087ca;
        a{
            text-decoration: none;
            color: #fff;
           
        
        &::after{
            content: '';
            position: absolute;
            width: 10%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $maingreen-color;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
           }
        &:hover::after{
            transform: scaleX(1);
            transform-origin: bottom left;
           }
        }
    }
    }
    .carousel-dark .carousel-caption{
        color:#fff;
    }
.radius-btn{
    border: 1px solid #000;
    border-radius: 50px;
}
//    Hamburger Animation
.navbar{
    .navbar-toggler
        {
        :focus{
            background-color: transparent;
        }
        :hover {
            background-color: transparent;
        }
        border: none;
        .icon-bar{
            background-color: #888;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            transition: all 0.15s;
        }
        .icon-bar+.icon-bar {
            margin-top: 4px;
        }
        span{
            &:nth-child(2) {
                transform: rotate(45deg);
                transform-origin: 10% 10%;
        }
        &:nth-child(3) {
            opacity: 0;
        }
       &:nth-child(4) {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
        
        }
        &.collapsed{
            span{
                &:nth-child(2),&:nth-child(4){
                    transform: rotate(0);
                }
                &:nth-child(3){
                    opacity: 1;
                }
            }
        }
    }
}
.searchcollapse{
    z-index: 99;
    width: 100%;
    left: 0;
    .card-body{
        min-height: 300px;
    display: flex;
    justify-content: center;
    }
}

//topmenu
.menubarline{
    margin: 0 auto;
    display: inline-flex;
    list-style: none;
    padding: 0;
    
    li{
       list-style: none;
       vertical-align: middle;
       padding: 0 5px;
       @include media-breakpoint-up(lg) {
        padding: 0 20px;
     } 
    }
}

// Swiper




// notification dropdown

.top-head-dropdown1
  .dropdown-toggle::after{
    display: none;
}
.notify-inner{
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
}
.notify-top{
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 15px 10px 15px;
}
.notifydrop li{
    padding: 0;
}
.top-text-block {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: inherit !important;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
    font-size: 14px;
    text-decoration: none;
  }
  .top-text-block:hover:before {
    content: "";
    width: 4px;
    background: #f05a1a;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  .top-text-block.unread {
    background: #ffc;
  }
  .top-text-block .top-text-light {
    color: #999;
    font-size: 0.8em;
  }
  .top-head-dropdown .dropdown-menu {
    width: 280px;
    @include media-breakpoint-up(lg){
        width: 350px;
    }
  }
  .notifytt{
      display: inline-block;
      font-size: 16px;
  }
  .top-head-dropdown li:last-child .top-text-block {
    border-bottom: 0;
  }
  .topbar-align-center {
    text-align: center;
  }
  .loader-topbar {
    margin: 5px auto;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top: 3px solid #666;
    width: 22px;
    height: 22px;
    -webkit-animation: spin-topbar 1s linear infinite;
    animation: spin-topbar 1s linear infinite;
  }
  @-webkit-keyframes spin-topbar {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin-topbar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
// Feautred Resources
.feaslide-mainbx {
    border: 1px solid #eee;
    padding: 15px;
   
}
.fea-title{
    position: relative;
    &:after{
        position: absolute;
        content: ' ';
        background: #ed1c24;
        height: 3px;
        width: 15%;
        left: calc(50% - 20%);
        bottom: -12px;
        @include media-breakpoint-up(lg) {
            left: calc(50% - 9%);
         }
    }
}
.featured-swiper{
    // width: 90vw;
    
    .feaslide-mainbx{
        transition : transform 0.25s linear;
        transform: scale(1);
    
    :hover{
        transform: scale(1.02);
    }
}
a{
    text-decoration: none;
    color: #000;
}
.addwish {
    position: absolute;
    top: 0;
    right: 20px;
    color: #e74c3c;
    font-weight: bold;
    z-index: 99;
    .fa{
        font-size: 1.5rem;
    }
}
.ribbion-r{
    position:absolute;
    height:30px;
    padding:6px;
    background-color:#EA4335;
    color:#fff;
    display:inline-block;
    margin-top: 20px;
    width: 120px;
    padding-left: 50px;
    z-index: 99;
  
  &::after{
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 0;
    border: solid 15px #EA4335;
    border-left-width: 0;
    border-right-color: transparent;
  }
  
}
.circle-r{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50px;
    background-color: #EA4335;
    z-index: 999;
    color: #fff;
    margin-top: 15px;
    padding: 13px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fecont-bx{
    padding: 10px 0;
    
    .fecontentinnbx{
        .p-11 {
            padding: 0 0.6rem;
        }
        .bluetxt{
            color: #0087ca;
        }
        .mainline{
            font-weight: 600;
        }
        p{
            margin-bottom: 0.5rem;
        }
        .clock-comm{
            padding: 10px 0;
            
            span{
                padding-right: 10px;
            }
        }
        .sharres{
        display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
        }
        }   
    }

    h4{
        font-size: 1rem;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        line-clamp: 2; 
        -webkit-box-orient: vertical;
        color: #000;
    }

}
}

.subject-sec{
    background-color: $footer-color;
    padding: 5% 0;
    width: 100%;
    overflow: hidden;
    .subject-slider{
        margin-top: 50px;
    }
    .exploresub{
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            background: #ed1c24;
            height: 3px;
            width: 15%;
            left: calc(50% - 8%);
            bottom: -12px;
        }
    }
    .subjectinner_slide {
        color: #fff;
        text-align: center;
        img {
            border: 10px solid #fff;
        }
        h5{
            margin-top: 15px;
            text-transform: uppercase;
        }
    }
}
.dig_resources{
    padding: 5% 0;
    width: 100%;
    overflow: hidden;
    .digiflex{
        display: flex;
        flex-wrap: wrap;
        .digimain{
            margin: 30px 15px;
            p{
                text-align: center;
                margin-top: 30px;
                color: #0087ca;
                font-weight: 600;
            }
        }
        .digi-circle{
            background-color: $footer-color;
            width: 150px;
            height: 150px;
            border-radius: 75px;
            
            padding: 25px;
            
        }
    }
    
}

// .swiper-container {
//     position:relative;
//     width: 90vw;
//     height: 300px;
// }
// .swiper-container > .swiper-slide__content {
//   position:absolute;
//   top:0;
// }

// .swiper-slide {
//   height: 300px;
//   display:flex;
//   background: #eee;
//   align-items: center;
//   justify-content:center;
//   transition:all 200ms linear;
//   transform: scale(1);
  
//   &.swiper-slide-active{
//     transform: scale(1.5);
//     background: #fc0
//   }
// }
footer{
    background-color: $footer-color;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // end of media 576
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
    // end of media 768
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
    // end of media 992
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
    // end of media 1200
}